<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
    </script>
</head>
    <body>
        <form action="{% url 'djangoapp:post_review' dealer_id %}" method="POST">
            {% csrf_token %}
            <div class=container-fluid>
                <h1>Add review about {{name}}</h1>
                <div class="form-group">
                    <label for="content"><b>Enter the review content:</b></label>
                    <textarea   class="form-control" 
                                id="content" 
                                name="content" 
                                rows="2" 
                                placeholder="Please write your review..." 
                                required>
                    </textarea>
                    <br>
                    <input  class="form-check-input" 
                            type="checkbox" 
                            name="purchasecheck" 
                            id="purchasecheckbox"
                            style="display: block; margin-left: 2px"
                    >                         
                    <label  for="purchasecheckbox"
                            style="margin-left: 20px; font-weight: 500">
                            Has purchased the car from {{name}}?
                            <span class="text-muted">(select purhcased car information below if checked)<span>
                    </label>
                    <br>
                    <label><b>Select your car (model-make-year):</b></label>
                    <select name="car_details" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.name}}-{{car.car_make}}-{{car.year}}>{{car.name}}-{{car.car_make}}-{{car.year}}</option>
                        {% endfor %}
                        </script>
                    </select>
                    <br>
                    <br>
                    <label><b>Select Your Purchase Date (MM/DD/YYYY):</b></label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </body>
</html>