<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>


    <title>Contact Us</title>

</head>

<body>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
            <h1>Contact Us</h1>
            <hr>
            <p>If you have any questions or inquiries, feel free to contact us.</p>
            <p><strong>Address:</strong> 1234 Elm Street, Random City, RC 56789</p>
            <p><strong>Phone:</strong> +1 123 456 7890</p>
            <i class="fa-regular fa-envelope"></i>
        </div>
    </div>
</body>
</html>