<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->
    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter User Name" name="username">
            <input type="password" class="form-control" placeholder="Enter Password" name="pwd">
            <button class="btn btn-primary" type="submit">Login</button>
            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign up</a>
        </div>
    </form>

    </body>

</html>